My.CoachManager.Presentation.ServiceAgent/Service References/AdminServiceReference/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62863/Services/AdminService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62863/Services/AdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62863/Services/AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" />
      <xsd:import schemaLocation="http://localhost:62863/Services/AdminService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" />
      <xsd:import schemaLocation="http://localhost:62863/Services/AdminService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:62863/Services/AdminService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Persons" />
      <xsd:import schemaLocation="http://localhost:62863/Services/AdminService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.CrossCutting.Core.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_GetCategoriesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesList" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetCategoriesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesListResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetCategoryById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryById" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetCategoryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CreateOrUpdateCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateCategory" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CreateOrUpdateCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RemoveCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCategory" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RemoveCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_UpdateCategoriesOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategoriesOrders" />
  </wsdl:message>
  <wsdl:message name="IAdminService_UpdateCategoriesOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategoriesOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetSeasonsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeasonsList" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetSeasonsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeasonsListResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetSeasonById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeasonById" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetSeasonById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeasonByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CreateOrUpdateSeason_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateSeason" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CreateOrUpdateSeason_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateSeasonResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RemoveSeason_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSeason" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RemoveSeason_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSeasonResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_UpdateSeasonsOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSeasonsOrders" />
  </wsdl:message>
  <wsdl:message name="IAdminService_UpdateSeasonsOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSeasonsOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetPositionsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionsList" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetPositionsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionsListResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetPositionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionById" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetPositionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CreateOrUpdatePosition_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdatePosition" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CreateOrUpdatePosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdatePositionResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RemovePosition_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePosition" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RemovePosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePositionResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_UpdatePositionsOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePositionsOrders" />
  </wsdl:message>
  <wsdl:message name="IAdminService_UpdatePositionsOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePositionsOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetPlayersList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersList" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetPlayersList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersListResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetPlayerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerById" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetPlayerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CreateOrUpdatePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdatePlayer" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CreateOrUpdatePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdatePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RemovePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePlayer" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RemovePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetCountriesForPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesForPlayer" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetCountriesForPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesForPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetCitiesForPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesForPlayer" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetCitiesForPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesForPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetCategoriesForPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesForPlayer" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetCategoriesForPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesForPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetCategoryFromBirthdate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryFromBirthdate" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetCategoryFromBirthdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryFromBirthdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="GetCategoriesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetCategoriesList" message="tns:IAdminService_GetCategoriesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetCategoriesListResponse" message="tns:IAdminService_GetCategoriesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetCategoryById" message="tns:IAdminService_GetCategoryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetCategoryByIdResponse" message="tns:IAdminService_GetCategoryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/CreateOrUpdateCategory" message="tns:IAdminService_CreateOrUpdateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/CreateOrUpdateCategoryResponse" message="tns:IAdminService_CreateOrUpdateCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/RemoveCategory" message="tns:IAdminService_RemoveCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/RemoveCategoryResponse" message="tns:IAdminService_RemoveCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCategoriesOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/UpdateCategoriesOrders" message="tns:IAdminService_UpdateCategoriesOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/UpdateCategoriesOrdersResponse" message="tns:IAdminService_UpdateCategoriesOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSeasonsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetSeasonsList" message="tns:IAdminService_GetSeasonsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetSeasonsListResponse" message="tns:IAdminService_GetSeasonsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSeasonById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetSeasonById" message="tns:IAdminService_GetSeasonById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetSeasonByIdResponse" message="tns:IAdminService_GetSeasonById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateSeason">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/CreateOrUpdateSeason" message="tns:IAdminService_CreateOrUpdateSeason_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/CreateOrUpdateSeasonResponse" message="tns:IAdminService_CreateOrUpdateSeason_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSeason">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/RemoveSeason" message="tns:IAdminService_RemoveSeason_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/RemoveSeasonResponse" message="tns:IAdminService_RemoveSeason_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSeasonsOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/UpdateSeasonsOrders" message="tns:IAdminService_UpdateSeasonsOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/UpdateSeasonsOrdersResponse" message="tns:IAdminService_UpdateSeasonsOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPositionsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetPositionsList" message="tns:IAdminService_GetPositionsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetPositionsListResponse" message="tns:IAdminService_GetPositionsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPositionById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetPositionById" message="tns:IAdminService_GetPositionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetPositionByIdResponse" message="tns:IAdminService_GetPositionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdatePosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/CreateOrUpdatePosition" message="tns:IAdminService_CreateOrUpdatePosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/CreateOrUpdatePositionResponse" message="tns:IAdminService_CreateOrUpdatePosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/RemovePosition" message="tns:IAdminService_RemovePosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/RemovePositionResponse" message="tns:IAdminService_RemovePosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePositionsOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/UpdatePositionsOrders" message="tns:IAdminService_UpdatePositionsOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/UpdatePositionsOrdersResponse" message="tns:IAdminService_UpdatePositionsOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayersList">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetPlayersList" message="tns:IAdminService_GetPlayersList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetPlayersListResponse" message="tns:IAdminService_GetPlayersList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetPlayerById" message="tns:IAdminService_GetPlayerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetPlayerByIdResponse" message="tns:IAdminService_GetPlayerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdatePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/CreateOrUpdatePlayer" message="tns:IAdminService_CreateOrUpdatePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/CreateOrUpdatePlayerResponse" message="tns:IAdminService_CreateOrUpdatePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/RemovePlayer" message="tns:IAdminService_RemovePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/RemovePlayerResponse" message="tns:IAdminService_RemovePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountriesForPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetCountriesForPlayer" message="tns:IAdminService_GetCountriesForPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetCountriesForPlayerResponse" message="tns:IAdminService_GetCountriesForPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCitiesForPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetCitiesForPlayer" message="tns:IAdminService_GetCitiesForPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetCitiesForPlayerResponse" message="tns:IAdminService_GetCitiesForPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoriesForPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetCategoriesForPlayer" message="tns:IAdminService_GetCategoriesForPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetCategoriesForPlayerResponse" message="tns:IAdminService_GetCategoriesForPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryFromBirthdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetCategoryFromBirthdate" message="tns:IAdminService_GetCategoryFromBirthdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetCategoryFromBirthdateResponse" message="tns:IAdminService_GetCategoryFromBirthdate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdminService" type="tns:IAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoriesList">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetCategoriesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryById">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetCategoryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateCategory">
      <soap:operation soapAction="http://tempuri.org/IAdminService/CreateOrUpdateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCategory">
      <soap:operation soapAction="http://tempuri.org/IAdminService/RemoveCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCategoriesOrders">
      <soap:operation soapAction="http://tempuri.org/IAdminService/UpdateCategoriesOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeasonsList">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetSeasonsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeasonById">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetSeasonById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateSeason">
      <soap:operation soapAction="http://tempuri.org/IAdminService/CreateOrUpdateSeason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSeason">
      <soap:operation soapAction="http://tempuri.org/IAdminService/RemoveSeason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSeasonsOrders">
      <soap:operation soapAction="http://tempuri.org/IAdminService/UpdateSeasonsOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositionsList">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetPositionsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositionById">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetPositionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdatePosition">
      <soap:operation soapAction="http://tempuri.org/IAdminService/CreateOrUpdatePosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePosition">
      <soap:operation soapAction="http://tempuri.org/IAdminService/RemovePosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePositionsOrders">
      <soap:operation soapAction="http://tempuri.org/IAdminService/UpdatePositionsOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayersList">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetPlayersList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerById">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetPlayerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdatePlayer">
      <soap:operation soapAction="http://tempuri.org/IAdminService/CreateOrUpdatePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePlayer">
      <soap:operation soapAction="http://tempuri.org/IAdminService/RemovePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountriesForPlayer">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetCountriesForPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitiesForPlayer">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetCitiesForPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoriesForPlayer">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetCategoriesForPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryFromBirthdate">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetCategoryFromBirthdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="BasicHttpBinding_IAdminService" binding="tns:BasicHttpBinding_IAdminService">
      <soap:address location="http://localhost:62863/Services/AdminService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>