My.CoachManager.Presentation.ServiceAgent/Service References/AdminServiceReference/AdminService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62863/Services/AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" />
  <xs:import schemaLocation="http://localhost:62863/Services/AdminService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:62863/Services/AdminService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Persons" />
  <xs:element name="GetCategoriesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" minOccurs="0" name="GetCategoriesListResult" nillable="true" type="q1:ArrayOfCategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" minOccurs="0" name="GetCategoryByIdResult" nillable="true" type="q2:CategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" minOccurs="0" name="playerDto" nillable="true" type="q3:CategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" minOccurs="0" name="CreateOrUpdateCategoryResult" nillable="true" type="q4:CategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" minOccurs="0" name="playerDto" nillable="true" type="q5:CategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategoriesOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entities" nillable="true" type="q6:ArrayOfKeyValueOfintint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategoriesOrdersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasonsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasonsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" minOccurs="0" name="GetSeasonsListResult" nillable="true" type="q7:ArrayOfSeasonDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasonById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasonByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" minOccurs="0" name="GetSeasonByIdResult" nillable="true" type="q8:SeasonDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateSeason">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" minOccurs="0" name="dto" nillable="true" type="q9:SeasonDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateSeasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" minOccurs="0" name="CreateOrUpdateSeasonResult" nillable="true" type="q10:SeasonDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSeason">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" minOccurs="0" name="dto" nillable="true" type="q11:SeasonDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSeasonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSeasonsOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entities" nillable="true" type="q12:ArrayOfKeyValueOfintint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSeasonsOrdersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" minOccurs="0" name="GetPositionsListResult" nillable="true" type="q13:ArrayOfPositionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" minOccurs="0" name="GetPositionByIdResult" nillable="true" type="q14:PositionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdatePosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" minOccurs="0" name="dto" nillable="true" type="q15:PositionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdatePositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" minOccurs="0" name="CreateOrUpdatePositionResult" nillable="true" type="q16:PositionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" minOccurs="0" name="dto" nillable="true" type="q17:PositionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePositionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePositionsOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entities" nillable="true" type="q18:ArrayOfKeyValueOfintint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePositionsOrdersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayersList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Persons" minOccurs="0" name="GetPlayersListResult" nillable="true" type="q19:ArrayOfPlayerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Persons" minOccurs="0" name="GetPlayerByIdResult" nillable="true" type="q20:PlayerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdatePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Persons" minOccurs="0" name="dto" nillable="true" type="q21:PlayerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdatePlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Persons" minOccurs="0" name="CreateOrUpdatePlayerResult" nillable="true" type="q22:PlayerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Persons" minOccurs="0" name="dto" nillable="true" type="q23:PlayerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePlayerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesForPlayer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesForPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Persons" minOccurs="0" name="GetCountriesForPlayerResult" nillable="true" type="q24:ArrayOfCountryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesForPlayer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesForPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Persons" minOccurs="0" name="GetCitiesForPlayerResult" nillable="true" type="q25:ArrayOfCityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesForPlayer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesForPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" minOccurs="0" name="GetCategoriesForPlayerResult" nillable="true" type="q26:ArrayOfCategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryFromBirthdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryFromBirthdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Admin" minOccurs="0" name="GetCategoryFromBirthdateResult" nillable="true" type="q27:CategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>