My.CoachManager.Presentation.ServiceAgent/Service References/TrainingServiceReference/TrainingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TrainingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62863/Services/TrainingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62863/Services/TrainingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62863/Services/TrainingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" />
      <xsd:import schemaLocation="http://localhost:62863/Services/TrainingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.CrossCutting.Core.Enums" />
      <xsd:import schemaLocation="http://localhost:62863/Services/TrainingService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITrainingService_GetTrainings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrainings" />
  </wsdl:message>
  <wsdl:message name="ITrainingService_GetTrainings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrainingsResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainingService_SaveTraining_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTraining" />
  </wsdl:message>
  <wsdl:message name="ITrainingService_SaveTraining_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTrainingResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainingService_RemoveTraining_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTraining" />
  </wsdl:message>
  <wsdl:message name="ITrainingService_RemoveTraining_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTrainingResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainingService_GetTrainingById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrainingById" />
  </wsdl:message>
  <wsdl:message name="ITrainingService_GetTrainingById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrainingByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainingService_AddTrainings_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTrainings" />
  </wsdl:message>
  <wsdl:message name="ITrainingService_AddTrainings_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTrainingsResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainingService_SaveTrainingAttendances_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTrainingAttendances" />
  </wsdl:message>
  <wsdl:message name="ITrainingService_SaveTrainingAttendances_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTrainingAttendancesResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainingService_GetPlayersForTraining_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersForTraining" />
  </wsdl:message>
  <wsdl:message name="ITrainingService_GetPlayersForTraining_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersForTrainingResponse" />
  </wsdl:message>
  <wsdl:portType name="ITrainingService">
    <wsdl:operation name="GetTrainings">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainingService/GetTrainings" message="tns:ITrainingService_GetTrainings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainingService/GetTrainingsResponse" message="tns:ITrainingService_GetTrainings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTraining">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainingService/SaveTraining" message="tns:ITrainingService_SaveTraining_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainingService/SaveTrainingResponse" message="tns:ITrainingService_SaveTraining_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTraining">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainingService/RemoveTraining" message="tns:ITrainingService_RemoveTraining_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainingService/RemoveTrainingResponse" message="tns:ITrainingService_RemoveTraining_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrainingById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainingService/GetTrainingById" message="tns:ITrainingService_GetTrainingById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainingService/GetTrainingByIdResponse" message="tns:ITrainingService_GetTrainingById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTrainings">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainingService/AddTrainings" message="tns:ITrainingService_AddTrainings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainingService/AddTrainingsResponse" message="tns:ITrainingService_AddTrainings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTrainingAttendances">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainingService/SaveTrainingAttendances" message="tns:ITrainingService_SaveTrainingAttendances_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainingService/SaveTrainingAttendancesResponse" message="tns:ITrainingService_SaveTrainingAttendances_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayersForTraining">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainingService/GetPlayersForTraining" message="tns:ITrainingService_GetPlayersForTraining_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainingService/GetPlayersForTrainingResponse" message="tns:ITrainingService_GetPlayersForTraining_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITrainingService" type="tns:ITrainingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTrainings">
      <soap:operation soapAction="http://tempuri.org/ITrainingService/GetTrainings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTraining">
      <soap:operation soapAction="http://tempuri.org/ITrainingService/SaveTraining" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTraining">
      <soap:operation soapAction="http://tempuri.org/ITrainingService/RemoveTraining" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrainingById">
      <soap:operation soapAction="http://tempuri.org/ITrainingService/GetTrainingById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTrainings">
      <soap:operation soapAction="http://tempuri.org/ITrainingService/AddTrainings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTrainingAttendances">
      <soap:operation soapAction="http://tempuri.org/ITrainingService/SaveTrainingAttendances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayersForTraining">
      <soap:operation soapAction="http://tempuri.org/ITrainingService/GetPlayersForTraining" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrainingService">
    <wsdl:port name="BasicHttpBinding_ITrainingService" binding="tns:BasicHttpBinding_ITrainingService">
      <soap:address location="http://localhost:62863/Services/TrainingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>