My.CoachManager.Presentation.ServiceAgent/Service References/TrainingServiceReference/TrainingService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTrainingDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrainingDto" nillable="true" type="tns:TrainingDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrainingDto" nillable="true" type="tns:ArrayOfTrainingDto" />
  <xs:complexType name="TrainingDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsCancelled" type="xs:boolean" />
          <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RosterId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrainingDto" nillable="true" type="tns:TrainingDto" />
  <xs:complexType name="EntityDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CrudStatus" type="tns:CrudStatus" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityDto" nillable="true" type="tns:EntityDto" />
  <xs:simpleType name="CrudStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Created" />
      <xs:enumeration value="Updated" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CrudStatus" nillable="true" type="tns:CrudStatus" />
</xs:schema>