My.CoachManager.Presentation.ServiceAgent/Service References/TrainingServiceReference/TrainingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62863/Services/TrainingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" />
  <xs:import schemaLocation="http://localhost:62863/Services/TrainingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:62863/Services/TrainingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GetTrainings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rosterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" minOccurs="0" name="GetTrainingsResult" nillable="true" type="q1:ArrayOfTrainingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTraining">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rosterId" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" minOccurs="0" name="dto" nillable="true" type="q2:TrainingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTrainingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTrainingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTraining">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" minOccurs="0" name="dto" nillable="true" type="q3:TrainingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTrainingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainingById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainingByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" minOccurs="0" name="GetTrainingByIdResult" nillable="true" type="q4:TrainingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrainings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rosterId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="startTime" type="q5:duration" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="endTime" type="q6:duration" />
        <xs:element minOccurs="0" name="place" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="days" nillable="true" type="q7:ArrayOfDayOfWeek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrainingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" minOccurs="0" name="AddTrainingsResult" nillable="true" type="q8:ArrayOfTrainingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>