My.CoachManager.Presentation.ServiceAgent/Service References/SeasonServiceReference/SeasonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SeasonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62863/Services/SeasonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62863/Services/SeasonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62863/Services/SeasonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Season" />
      <xsd:import schemaLocation="http://localhost:62863/Services/SeasonService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" />
      <xsd:import schemaLocation="http://localhost:62863/Services/SeasonService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISeasonService_GetSeasons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeasons" />
  </wsdl:message>
  <wsdl:message name="ISeasonService_GetSeasons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeasonsResponse" />
  </wsdl:message>
  <wsdl:message name="ISeasonService_GetSeasonById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeasonById" />
  </wsdl:message>
  <wsdl:message name="ISeasonService_GetSeasonById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeasonByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISeasonService_SaveSeason_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSeason" />
  </wsdl:message>
  <wsdl:message name="ISeasonService_SaveSeason_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSeasonResponse" />
  </wsdl:message>
  <wsdl:message name="ISeasonService_RemoveSeason_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSeason" />
  </wsdl:message>
  <wsdl:message name="ISeasonService_RemoveSeason_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSeasonResponse" />
  </wsdl:message>
  <wsdl:message name="ISeasonService_UpdateOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrders" />
  </wsdl:message>
  <wsdl:message name="ISeasonService_UpdateOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="ISeasonService">
    <wsdl:operation name="GetSeasons">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeasonService/GetSeasons" message="tns:ISeasonService_GetSeasons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeasonService/GetSeasonsResponse" message="tns:ISeasonService_GetSeasons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSeasonById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeasonService/GetSeasonById" message="tns:ISeasonService_GetSeasonById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeasonService/GetSeasonByIdResponse" message="tns:ISeasonService_GetSeasonById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSeason">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeasonService/SaveSeason" message="tns:ISeasonService_SaveSeason_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeasonService/SaveSeasonResponse" message="tns:ISeasonService_SaveSeason_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSeason">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeasonService/RemoveSeason" message="tns:ISeasonService_RemoveSeason_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeasonService/RemoveSeasonResponse" message="tns:ISeasonService_RemoveSeason_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeasonService/UpdateOrders" message="tns:ISeasonService_UpdateOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeasonService/UpdateOrdersResponse" message="tns:ISeasonService_UpdateOrders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISeasonService" type="tns:ISeasonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSeasons">
      <soap:operation soapAction="http://tempuri.org/ISeasonService/GetSeasons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeasonById">
      <soap:operation soapAction="http://tempuri.org/ISeasonService/GetSeasonById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSeason">
      <soap:operation soapAction="http://tempuri.org/ISeasonService/SaveSeason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSeason">
      <soap:operation soapAction="http://tempuri.org/ISeasonService/RemoveSeason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrders">
      <soap:operation soapAction="http://tempuri.org/ISeasonService/UpdateOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SeasonService">
    <wsdl:port name="BasicHttpBinding_ISeasonService" binding="tns:BasicHttpBinding_ISeasonService">
      <soap:address location="http://localhost:62863/Services/SeasonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>