My.CoachManager.Presentation.ServiceAgent/Service References/PositionServiceReference/PositionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62863/Services/PositionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.CrossCutting.Core.Enums" />
  <xs:complexType name="ArrayOfPositionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PositionDto" nillable="true" type="tns:PositionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPositionDto" nillable="true" type="tns:ArrayOfPositionDto" />
  <xs:complexType name="PositionDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReferenceDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Column" type="xs:int" />
          <xs:element minOccurs="0" name="Row" type="xs:int" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/My.CoachManager.CrossCutting.Core.Enums" minOccurs="0" name="Side" type="q1:PositionSide" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/My.CoachManager.CrossCutting.Core.Enums" minOccurs="0" name="Type" type="q2:PositionType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PositionDto" nillable="true" type="tns:PositionDto" />
  <xs:complexType name="ReferenceDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Order" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReferenceDto" nillable="true" type="tns:ReferenceDto" />
  <xs:complexType name="EntityDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CrudStatus" type="tns:CrudStatus" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityDto" nillable="true" type="tns:EntityDto" />
  <xs:simpleType name="CrudStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Created" />
      <xs:enumeration value="Updated" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CrudStatus" nillable="true" type="tns:CrudStatus" />
</xs:schema>