My.CoachManager.Presentation.ServiceAgent/Service References/CategoryServiceReference/CategoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CategoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62863/Services/CategoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62863/Services/CategoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62863/Services/CategoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" />
      <xsd:import schemaLocation="http://localhost:62863/Services/CategoryService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICategoryService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetCategoryById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryById" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetCategoryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_SaveCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_SaveCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_RemoveCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_RemoveCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_UpdateOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrders" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_UpdateOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="ICategoryService">
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/GetCategories" message="tns:ICategoryService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/GetCategoriesResponse" message="tns:ICategoryService_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/GetCategoryById" message="tns:ICategoryService_GetCategoryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/GetCategoryByIdResponse" message="tns:ICategoryService_GetCategoryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/SaveCategory" message="tns:ICategoryService_SaveCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/SaveCategoryResponse" message="tns:ICategoryService_SaveCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/RemoveCategory" message="tns:ICategoryService_RemoveCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/RemoveCategoryResponse" message="tns:ICategoryService_RemoveCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/UpdateOrders" message="tns:ICategoryService_UpdateOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/UpdateOrdersResponse" message="tns:ICategoryService_UpdateOrders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICategoryService" type="tns:ICategoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryById">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/GetCategoryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/SaveCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/RemoveCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrders">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/UpdateOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoryService">
    <wsdl:port name="BasicHttpBinding_ICategoryService" binding="tns:BasicHttpBinding_ICategoryService">
      <soap:address location="http://localhost:62863/Services/CategoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>