My.CoachManager.Presentation.ServiceAgent/Service References/CategoryServiceReference/CategoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CategoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62863/Services/CategoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62863/Services/CategoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62863/Services/CategoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Administration" />
      <xsd:import schemaLocation="http://localhost:62863/Services/CategoryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" />
      <xsd:import schemaLocation="http://localhost:62863/Services/CategoryService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICategoryService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetLabels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLabels" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetLabels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLabelsResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_CreateOrUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdate" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_CreateOrUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_UpdateOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrders" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_UpdateOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="ICategoryService">
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/GetList" message="tns:ICategoryService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/GetListResponse" message="tns:ICategoryService_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLabels">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/GetLabels" message="tns:ICategoryService_GetLabels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/GetLabelsResponse" message="tns:ICategoryService_GetLabels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/GetById" message="tns:ICategoryService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/GetByIdResponse" message="tns:ICategoryService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/CreateOrUpdate" message="tns:ICategoryService_CreateOrUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/CreateOrUpdateResponse" message="tns:ICategoryService_CreateOrUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/Remove" message="tns:ICategoryService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/RemoveResponse" message="tns:ICategoryService_Remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/UpdateOrders" message="tns:ICategoryService_UpdateOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/UpdateOrdersResponse" message="tns:ICategoryService_UpdateOrders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICategoryService" type="tns:ICategoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLabels">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/GetLabels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdate">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/CreateOrUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrders">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/UpdateOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoryService">
    <wsdl:port name="BasicHttpBinding_ICategoryService" binding="tns:BasicHttpBinding_ICategoryService">
      <soap:address location="http://localhost:62863/Services/CategoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>