My.CoachManager.Presentation.ServiceAgent/Service References/PersonServiceReference/PersonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62863/Services/PersonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62863/Services/PersonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62863/Services/PersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" />
      <xsd:import schemaLocation="http://localhost:62863/Services/PersonService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.CrossCutting.Core.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonService_GetCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayers" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPlayerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerById" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPlayerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SavePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePlayer" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SavePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_RemovePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePlayer" />
  </wsdl:message>
  <wsdl:message name="IPersonService_RemovePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetCategoryFromBirthdate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryFromBirthdate" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetCategoryFromBirthdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryFromBirthdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetInjuryById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInjuryById" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetInjuryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInjuryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SaveInjury_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveInjury" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SaveInjury_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveInjuryResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_RemoveInjury_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveInjury" />
  </wsdl:message>
  <wsdl:message name="IPersonService_RemoveInjury_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveInjuryResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonService">
    <wsdl:operation name="GetCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetCountries" message="tns:IPersonService_GetCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetCountriesResponse" message="tns:IPersonService_GetCountries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPlayers" message="tns:IPersonService_GetPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPlayersResponse" message="tns:IPersonService_GetPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPlayerById" message="tns:IPersonService_GetPlayerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPlayerByIdResponse" message="tns:IPersonService_GetPlayerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SavePlayer" message="tns:IPersonService_SavePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SavePlayerResponse" message="tns:IPersonService_SavePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/RemovePlayer" message="tns:IPersonService_RemovePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/RemovePlayerResponse" message="tns:IPersonService_RemovePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryFromBirthdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetCategoryFromBirthdate" message="tns:IPersonService_GetCategoryFromBirthdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetCategoryFromBirthdateResponse" message="tns:IPersonService_GetCategoryFromBirthdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInjuryById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetInjuryById" message="tns:IPersonService_GetInjuryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetInjuryByIdResponse" message="tns:IPersonService_GetInjuryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveInjury">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SaveInjury" message="tns:IPersonService_SaveInjury_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SaveInjuryResponse" message="tns:IPersonService_SaveInjury_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveInjury">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/RemoveInjury" message="tns:IPersonService_RemoveInjury_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/RemoveInjuryResponse" message="tns:IPersonService_RemoveInjury_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonService" type="tns:IPersonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayers">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerById">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPlayerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePlayer">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SavePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePlayer">
      <soap:operation soapAction="http://tempuri.org/IPersonService/RemovePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryFromBirthdate">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetCategoryFromBirthdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInjuryById">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetInjuryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveInjury">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SaveInjury" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveInjury">
      <soap:operation soapAction="http://tempuri.org/IPersonService/RemoveInjury" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port name="BasicHttpBinding_IPersonService" binding="tns:BasicHttpBinding_IPersonService">
      <soap:address location="http://localhost:62863/Services/PersonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>