My.CoachManager.Presentation.ServiceAgent/Service References/PersonServiceReference/PersonService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62863/Services/PersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" />
  <xs:element name="GetCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" minOccurs="0" name="GetCountriesResult" nillable="true" type="q1:ArrayOfCountryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" minOccurs="0" name="GetPlayersResult" nillable="true" type="q2:ArrayOfPlayerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" minOccurs="0" name="GetPlayerByIdResult" nillable="true" type="q3:PlayerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" minOccurs="0" name="dto" nillable="true" type="q4:PlayerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePlayerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" minOccurs="0" name="dto" nillable="true" type="q5:PlayerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePlayerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryFromBirthdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryFromBirthdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" minOccurs="0" name="GetCategoryFromBirthdateResult" nillable="true" type="q6:CategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>