My.CoachManager.Presentation.ServiceAgent/Service References/PersonServiceReference/PersonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62863/Services/PersonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62863/Services/PersonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62863/Services/PersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Persons" />
      <xsd:import schemaLocation="http://localhost:62863/Services/PersonService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" />
      <xsd:import schemaLocation="http://localhost:62863/Services/PersonService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Administration" />
      <xsd:import schemaLocation="http://localhost:62863/Services/PersonService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.CrossCutting.Core.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonService_GetPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayer" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_CreateOrUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdate" />
  </wsdl:message>
  <wsdl:message name="IPersonService_CreateOrUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="IPersonService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetCategoryFromBirthdate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryFromBirthdate" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetCategoryFromBirthdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryFromBirthdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonService">
    <wsdl:operation name="GetPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPlayer" message="tns:IPersonService_GetPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPlayerResponse" message="tns:IPersonService_GetPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/CreateOrUpdate" message="tns:IPersonService_CreateOrUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/CreateOrUpdateResponse" message="tns:IPersonService_CreateOrUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/Remove" message="tns:IPersonService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/RemoveResponse" message="tns:IPersonService_Remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryFromBirthdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetCategoryFromBirthdate" message="tns:IPersonService_GetCategoryFromBirthdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetCategoryFromBirthdateResponse" message="tns:IPersonService_GetCategoryFromBirthdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetCountries" message="tns:IPersonService_GetCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetCountriesResponse" message="tns:IPersonService_GetCountries_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonService" type="tns:IPersonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlayer">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdate">
      <soap:operation soapAction="http://tempuri.org/IPersonService/CreateOrUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IPersonService/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryFromBirthdate">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetCategoryFromBirthdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port name="BasicHttpBinding_IPersonService" binding="tns:BasicHttpBinding_IPersonService">
      <soap:address location="http://localhost:62863/Services/PersonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>