My.CoachManager.Presentation.ServiceAgent/Service References/RosterServiceReference/RosterService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62863/Services/RosterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Rosters" />
  <xs:element name="GetSquads">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rosterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSquadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Rosters" minOccurs="0" name="GetSquadsResult" nillable="true" type="q1:ArrayOfSquadDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSquad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="squadId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSquadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Rosters" minOccurs="0" name="GetSquadResult" nillable="true" type="q2:SquadDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRosters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRostersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Rosters" minOccurs="0" name="GetRostersResult" nillable="true" type="q3:ArrayOfRosterDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRoster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Rosters" minOccurs="0" name="dto" nillable="true" type="q4:RosterDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRosterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Rosters" minOccurs="0" name="SaveRosterResult" nillable="true" type="q5:RosterDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRoster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Rosters" minOccurs="0" name="dto" nillable="true" type="q6:RosterDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRosterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRosterById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRosterByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Rosters" minOccurs="0" name="GetRosterByIdResult" nillable="true" type="q7:RosterDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>