My.CoachManager.Presentation.ServiceAgent/Service References/RosterServiceReference/RosterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RosterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62863/Services/RosterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62863/Services/RosterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62863/Services/RosterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" />
      <xsd:import schemaLocation="http://localhost:62863/Services/RosterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.CrossCutting.Core.Enums" />
      <xsd:import schemaLocation="http://localhost:62863/Services/RosterService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRosterService_GetRosters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRosters" />
  </wsdl:message>
  <wsdl:message name="IRosterService_GetRosters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRostersResponse" />
  </wsdl:message>
  <wsdl:message name="IRosterService_SaveRoster_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveRoster" />
  </wsdl:message>
  <wsdl:message name="IRosterService_SaveRoster_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveRosterResponse" />
  </wsdl:message>
  <wsdl:message name="IRosterService_RemoveRoster_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRoster" />
  </wsdl:message>
  <wsdl:message name="IRosterService_RemoveRoster_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRosterResponse" />
  </wsdl:message>
  <wsdl:message name="IRosterService_GetRosterById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRosterById" />
  </wsdl:message>
  <wsdl:message name="IRosterService_GetRosterById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRosterByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRosterService_GetPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayers" />
  </wsdl:message>
  <wsdl:message name="IRosterService_GetPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IRosterService_AddPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayers" />
  </wsdl:message>
  <wsdl:message name="IRosterService_AddPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IRosterService_RemovePlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePlayers" />
  </wsdl:message>
  <wsdl:message name="IRosterService_RemovePlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IRosterService_GetRosterPlayerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRosterPlayerById" />
  </wsdl:message>
  <wsdl:message name="IRosterService_GetRosterPlayerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRosterPlayerByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IRosterService">
    <wsdl:operation name="GetRosters">
      <wsdl:input wsaw:Action="http://tempuri.org/IRosterService/GetRosters" message="tns:IRosterService_GetRosters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRosterService/GetRostersResponse" message="tns:IRosterService_GetRosters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveRoster">
      <wsdl:input wsaw:Action="http://tempuri.org/IRosterService/SaveRoster" message="tns:IRosterService_SaveRoster_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRosterService/SaveRosterResponse" message="tns:IRosterService_SaveRoster_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRoster">
      <wsdl:input wsaw:Action="http://tempuri.org/IRosterService/RemoveRoster" message="tns:IRosterService_RemoveRoster_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRosterService/RemoveRosterResponse" message="tns:IRosterService_RemoveRoster_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRosterById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRosterService/GetRosterById" message="tns:IRosterService_GetRosterById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRosterService/GetRosterByIdResponse" message="tns:IRosterService_GetRosterById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IRosterService/GetPlayers" message="tns:IRosterService_GetPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRosterService/GetPlayersResponse" message="tns:IRosterService_GetPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IRosterService/AddPlayers" message="tns:IRosterService_AddPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRosterService/AddPlayersResponse" message="tns:IRosterService_AddPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IRosterService/RemovePlayers" message="tns:IRosterService_RemovePlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRosterService/RemovePlayersResponse" message="tns:IRosterService_RemovePlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRosterPlayerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRosterService/GetRosterPlayerById" message="tns:IRosterService_GetRosterPlayerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRosterService/GetRosterPlayerByIdResponse" message="tns:IRosterService_GetRosterPlayerById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRosterService" type="tns:IRosterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRosters">
      <soap:operation soapAction="http://tempuri.org/IRosterService/GetRosters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRoster">
      <soap:operation soapAction="http://tempuri.org/IRosterService/SaveRoster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRoster">
      <soap:operation soapAction="http://tempuri.org/IRosterService/RemoveRoster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRosterById">
      <soap:operation soapAction="http://tempuri.org/IRosterService/GetRosterById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayers">
      <soap:operation soapAction="http://tempuri.org/IRosterService/GetPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlayers">
      <soap:operation soapAction="http://tempuri.org/IRosterService/AddPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePlayers">
      <soap:operation soapAction="http://tempuri.org/IRosterService/RemovePlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRosterPlayerById">
      <soap:operation soapAction="http://tempuri.org/IRosterService/GetRosterPlayerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RosterService">
    <wsdl:port name="BasicHttpBinding_IRosterService" binding="tns:BasicHttpBinding_IRosterService">
      <soap:address location="http://localhost:62863/Services/RosterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>