My.CoachManager.Presentation.ServiceAgent/Service References/RosterServiceReference/RosterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RosterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62863/Services/RosterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62863/Services/RosterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62863/Services/RosterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Rosters" />
      <xsd:import schemaLocation="http://localhost:62863/Services/RosterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" />
      <xsd:import schemaLocation="http://localhost:62863/Services/RosterService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Persons" />
      <xsd:import schemaLocation="http://localhost:62863/Services/RosterService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos.Administration" />
      <xsd:import schemaLocation="http://localhost:62863/Services/RosterService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.CrossCutting.Core.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRosterService_GetSquads_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSquads" />
  </wsdl:message>
  <wsdl:message name="IRosterService_GetSquads_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSquadsResponse" />
  </wsdl:message>
  <wsdl:message name="IRosterService_GetSquad_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSquad" />
  </wsdl:message>
  <wsdl:message name="IRosterService_GetSquad_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSquadResponse" />
  </wsdl:message>
  <wsdl:message name="IRosterService_GetPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayer" />
  </wsdl:message>
  <wsdl:message name="IRosterService_GetPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerResponse" />
  </wsdl:message>
  <wsdl:portType name="IRosterService">
    <wsdl:operation name="GetSquads">
      <wsdl:input wsaw:Action="http://tempuri.org/IRosterService/GetSquads" message="tns:IRosterService_GetSquads_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRosterService/GetSquadsResponse" message="tns:IRosterService_GetSquads_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSquad">
      <wsdl:input wsaw:Action="http://tempuri.org/IRosterService/GetSquad" message="tns:IRosterService_GetSquad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRosterService/GetSquadResponse" message="tns:IRosterService_GetSquad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IRosterService/GetPlayer" message="tns:IRosterService_GetPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRosterService/GetPlayerResponse" message="tns:IRosterService_GetPlayer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRosterService" type="tns:IRosterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSquads">
      <soap:operation soapAction="http://tempuri.org/IRosterService/GetSquads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSquad">
      <soap:operation soapAction="http://tempuri.org/IRosterService/GetSquad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <soap:operation soapAction="http://tempuri.org/IRosterService/GetPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RosterService">
    <wsdl:port name="BasicHttpBinding_IRosterService" binding="tns:BasicHttpBinding_IRosterService">
      <soap:address location="http://localhost:62863/Services/RosterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>