My.CoachManager.Presentation.ServiceAgent/Service References/RosterServiceReference/RosterService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/My.CoachManager.Application.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62863/Services/RosterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/My.CoachManager.CrossCutting.Core.Enums" />
  <xs:complexType name="ArrayOfRosterDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RosterDto" nillable="true" type="tns:RosterDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRosterDto" nillable="true" type="tns:ArrayOfRosterDto" />
  <xs:complexType name="RosterDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Category" nillable="true" type="tns:CategoryDto" />
          <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfRosterPlayerDto" />
          <xs:element minOccurs="0" name="Season" nillable="true" type="tns:SeasonDto" />
          <xs:element minOccurs="0" name="SeasonId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Squads" nillable="true" type="tns:ArrayOfSquadDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RosterDto" nillable="true" type="tns:RosterDto" />
  <xs:complexType name="EntityDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CrudStatus" type="tns:CrudStatus" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityDto" nillable="true" type="tns:EntityDto" />
  <xs:simpleType name="CrudStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Created" />
      <xs:enumeration value="Updated" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CrudStatus" nillable="true" type="tns:CrudStatus" />
  <xs:complexType name="CategoryDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReferenceDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Year" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CategoryDto" nillable="true" type="tns:CategoryDto" />
  <xs:complexType name="ReferenceDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Order" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReferenceDto" nillable="true" type="tns:ReferenceDto" />
  <xs:complexType name="ArrayOfRosterPlayerDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RosterPlayerDto" nillable="true" type="tns:RosterPlayerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRosterPlayerDto" nillable="true" type="tns:ArrayOfRosterPlayerDto" />
  <xs:complexType name="RosterPlayerDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsMutation" type="xs:boolean" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/My.CoachManager.CrossCutting.Core.Enums" minOccurs="0" name="LicenseState" type="q1:LicenseState" />
          <xs:element minOccurs="0" name="Number" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Player" nillable="true" type="tns:PlayerDto" />
          <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
          <xs:element minOccurs="0" name="Roster" nillable="true" type="tns:RosterDto" />
          <xs:element minOccurs="0" name="RosterId" type="xs:int" />
          <xs:element minOccurs="0" name="Squad" nillable="true" type="tns:SquadDto" />
          <xs:element minOccurs="0" name="SquadId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RosterPlayerDto" nillable="true" type="tns:RosterPlayerDto" />
  <xs:complexType name="PlayerDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PersonDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Category" nillable="true" type="tns:CategoryDto" />
          <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Height" nillable="true" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/My.CoachManager.CrossCutting.Core.Enums" minOccurs="0" name="Laterality" type="q2:Laterality" />
          <xs:element minOccurs="0" name="Positions" nillable="true" type="tns:ArrayOfPlayerPositionDto" />
          <xs:element minOccurs="0" name="ShoesSize" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlayerDto" nillable="true" type="tns:PlayerDto" />
  <xs:complexType name="PersonDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Birthdate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="tns:CountryDto" />
          <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Emails" nillable="true" type="tns:ArrayOfEmailDto" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:dateTime" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/My.CoachManager.CrossCutting.Core.Enums" minOccurs="0" name="Gender" type="q3:GenderType" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LicenseNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phones" nillable="true" type="tns:ArrayOfPhoneDto" />
          <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="PlaceOfBirth" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonDto" nillable="true" type="tns:PersonDto" />
  <xs:complexType name="CountryDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReferenceDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CountryDto" nillable="true" type="tns:CountryDto" />
  <xs:complexType name="ArrayOfEmailDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailDto" nillable="true" type="tns:EmailDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailDto" nillable="true" type="tns:ArrayOfEmailDto" />
  <xs:complexType name="EmailDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ContactDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailDto" nillable="true" type="tns:EmailDto" />
  <xs:complexType name="ContactDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Default" type="xs:boolean" />
          <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContactDto" nillable="true" type="tns:ContactDto" />
  <xs:complexType name="PhoneDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ContactDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PhoneDto" nillable="true" type="tns:PhoneDto" />
  <xs:complexType name="ArrayOfPhoneDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneDto" nillable="true" type="tns:PhoneDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhoneDto" nillable="true" type="tns:ArrayOfPhoneDto" />
  <xs:complexType name="ArrayOfPlayerPositionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerPositionDto" nillable="true" type="tns:PlayerPositionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerPositionDto" nillable="true" type="tns:ArrayOfPlayerPositionDto" />
  <xs:complexType name="PlayerPositionDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsNatural" type="xs:boolean" />
          <xs:element minOccurs="0" name="Player" nillable="true" type="tns:PlayerDto" />
          <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
          <xs:element minOccurs="0" name="Position" nillable="true" type="tns:PositionDto" />
          <xs:element minOccurs="0" name="PositionId" type="xs:int" />
          <xs:element minOccurs="0" name="Rating" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlayerPositionDto" nillable="true" type="tns:PlayerPositionDto" />
  <xs:complexType name="PositionDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReferenceDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Column" type="xs:int" />
          <xs:element minOccurs="0" name="Row" type="xs:int" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/My.CoachManager.CrossCutting.Core.Enums" minOccurs="0" name="Side" type="q4:PositionSide" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/My.CoachManager.CrossCutting.Core.Enums" minOccurs="0" name="Type" type="q5:PositionType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PositionDto" nillable="true" type="tns:PositionDto" />
  <xs:complexType name="SquadDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Roster" nillable="true" type="tns:RosterDto" />
          <xs:element minOccurs="0" name="RosterId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SquadDto" nillable="true" type="tns:SquadDto" />
  <xs:complexType name="SeasonDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReferenceDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SeasonDto" nillable="true" type="tns:SeasonDto" />
  <xs:complexType name="ArrayOfSquadDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SquadDto" nillable="true" type="tns:SquadDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSquadDto" nillable="true" type="tns:ArrayOfSquadDto" />
</xs:schema>